<div class="card mb-3">
    <h3 class="card-header">ACTUALITE</h3>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        atast club EPS
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>for this week !</strong>
        une formation de 3 jours en python aura lieu cette semainea à hotel laico tunis ,pour plus de détails veuillez me contacter ou bien remplissez le formulaire ci-joint <a href={{path("ajout")}}>FORMULAIRE</a> 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        club radio
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>une Randonnée au désert tunisien</strong> on programme une randonnée le weekend de la semaine prochaine au sud tunisien , pour plus de détails veuillez me contacter ou bien remplissez le formulaire ci-joint <a href="#">FORMULAIRE</a> 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        club robotics
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>FIRST STEPS IN ROTICS !</strong> une petite formation qui changera tous ! pour plus de détails veuillez me contacter ou bien remplissez le formulaire ci-joint <a href={{path("ajout")}}>FORMULAIRE</a> 
      </div>
    </div>
  </div>
</div>
    <div class="card mb-3">
    <h1 class="card-header">GOOGLE DEVELOPERS CLUB EPS</h1>
    <div class="card-body">
        <h5 class="card-title" >the big event of this week</h5>
        
    </div>
    <<img src={{asset("img/google.png")}} class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        
    </img>
    <div class="card-body" >
        <h2 class="card-text">Formation to talk about the difference between GIT &  GITHUB </h2>
         <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
    </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Amphi A à polytechnique sousse</li>
        <li class="list-group-item">vendredi 20 janvier 2023</li>
        <li class="list-group-item">17h-19h</li>
    </ul>
    <div class="card-body">
        <a href={{path("ajout")}} class="card-link">lien d'inscription </a>
        
    </div>
     
        
 
    <div class="card-footer text-muted">
        developer student club
    </div>
   
    </div>
  
    <div class="card mb-3">
    <h3 class="card-header">Microsoft club EPS</h3>
    <div class="card-body">
        <h5 class="card-title">The big Event nuit de l'info</h5>
        
    </div>
      <img src={{asset("img/micro.png")}} class="d-block user-select-none" width="100%" height="350" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        
    </img>
     <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
    </div>
    </div>
  
    <ul class="list-group list-group-flush">
        <li class="list-group-item">à polytechnique sousse</li>
        <li class="list-group-item">du jeudi 1 Décembre 16h35 Au vendredi 2 Décembre 8h00</li>
        
    </ul>
    <div class="card-body">
        <a href={{path("ajout")}} class="card-link">Remplir ce Formulaire</a>
        
    </div>
    <div class="card-footer text-muted">
       club microsoft EPS-sousse
    </div>
   
       
       
    </div>
    <div class="card mb-3">
    <h3 class="card-header">Polytechnique sousse</h3>
    <div class="card-body">
        <h5 class="card-title">semaine culturelle africaine </h5>
        
    </div>
      <img src={{asset("img/culture.jpg")}} class="d-block user-select-none" width="100%" height="350" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        
    </img>
     <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
    </div>
    </div>
  
    <ul class="list-group list-group-flush">
        <li class="list-group-item">à polytechnique sousse</li>
        <li class="list-group-item">du 24 au 29 février 2022</li>
        
    </ul>
    <div class="card-body">
        <a href={{path("ajout")}}>Remplir ce Formulaire</a>
        
    </div>
    <div class="card-footer text-muted">
       EPS-sousse
    </div>
   


