<nav class="navbar navbar-expand-lgnavbar navbar-expand-lg " >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src={{asset("img/logo.png")}} class="navbar-brand-img" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-nav me-auto mb-2 mb-lg-0"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link " href={{path ('app_home')}}>Home
            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path("consult")}}>Consulter les Evènements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path("ajout")}}>Ajouter un Evènement </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">clubs à polytechnique</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Microsoft</a>
            <a class="dropdown-item" href="#">IEEE</a>
            <a class="dropdown-item" href="#">ATAST</a>
           
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <a href={{path("app_user")}} class="nav-link">inscription</a>
      </form>
    </div>
  </div>
</nav>

